# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# ---- Data & outputs ----
# Do NOT commit large/raw images
data/raw/
data/processed/

# We DO want to commit split CSVs for reproducibility
# so we are NOT ignoring data/splits/

models/*.pth
models/*.pt
reports/generated/

# ---- OS / IDE ----
.DS_Store
Thumbs.db
.vscode/